@model ManutencaoViewModel

<h1>Alterar dados da Manutenção</h1>
<hr />

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden class="form-group">
                <input asp-for="oProdutoClienteManutencao.Id" class="form-control" />
            </div>
            <div hidden class="form-group">
                <input id="idCliente" asp-for="oProdutoClienteManutencao.IdCliente" class="form-control" />
            </div>
            <div hidden class="form-group">
                <input id="idProduto" asp-for="oProdutoClienteManutencao.IdProduto" class="form-control" />
            </div>
            <div hidden class="form-group">
                <input id="idServico" asp-for="oProdutoClienteManutencao.IdServico" class="form-control" />
            </div>

            <div class="card">
                <div class="card-header">Informações da Manutenção</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="oProdutoClienteManutencao.NomeManutencao" class="control-label"></label>
                            <input asp-for="oProdutoClienteManutencao.NomeManutencao" class="form-control" />
                            <span asp-validation-for="oProdutoClienteManutencao.NomeManutencao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="oProdutoClienteManutencao.Descricao" class="control-label"></label>
                            <input asp-for="oProdutoClienteManutencao.Descricao" class="form-control" />
                            <span asp-validation-for="oProdutoClienteManutencao.Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-check">
                            <input asp-for="oProdutoClienteManutencao.Feito" class="form-check-input" type="checkbox" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Feito
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <table id="TableManutencao3" class="table table-striped">
                        <thead>
                            <tr>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.oCliente.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.oCliente.NomeCliente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.oCliente.Cpf)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.oCliente.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.oCliente.Telefone)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.oListeCliente)
                            {
                                <tr onclick="passIdCliente('@item.Id')">
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeCliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cpf)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefone)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Produto</div>
                        <div class="card-body">
                            <table id="TableManutencao4" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oProduto.NomeProduto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oProduto.Marca)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oProduto.Preco)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oProduto.Estoque)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.oListProduto)
                                    {
                                        <tr onclick="passIdLivro('@item.Id')">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomeProduto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Marca)
                                            </td>
                                            <td>
                                                R$ @Html.DisplayFor(modelItem => item.Preco)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estoque)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Serviço</div>
                        <div class="card-body">
                            <table id="TableManutencao5" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oServico.NomeServico)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.oServico.Preco)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.oListServico)
                                    {
                                        <tr onclick="passIdServico('@item.Id')">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomeServico)
                                            </td>
                                            <td>
                                                R$ @Html.DisplayFor(modelItem => item.Preco)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Datas</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="oProdutoClienteManutencao.DataCadastro" class="control-label"></label>
                            <input asp-for="oProdutoClienteManutencao.DataCadastro" class="form-control" readonly />
                            <span asp-validation-for="oProdutoClienteManutencao.DataCadastro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="oProdutoClienteManutencao.DataFinalizacao" class="control-label"></label>
                            <input asp-for="oProdutoClienteManutencao.DataFinalizacao" class="form-control" />
                            <span asp-validation-for="oProdutoClienteManutencao.DataFinalizacao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div style="text-align: right;">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@ViewBag.idManutencao">
                        Excluir
                    </button>
                    <input type="submit" value="Alterar" class="btn btn-success" formaction="Edit" />
                </div>
            </div>
            <div class="modal fade" id="DeleteModal-@ViewBag.idManutencao" tabindex="-1" aria-labelledby="DeleteModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteModal">Excluir Manutenção</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir a Manutenção: @ViewBag.nomeManutencao ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id=@ViewBag.idManutencao>Sim</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var TableManutencao3 = $("#TableManutencao3").DataTable({
                ordering: true,
                paging: true,
                autoWidth: true,
                searching: true,
                oLanguage: {
                    sEmptyTable: "Nenhum registro encontrado na tabela",
                    sInfo: "Mostrar _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrar 0 até 0 de 0 Registros",
                    sInfoFiltered: "(Filtrar de _MAX_ total registros)",
                    sInfoPostFix: "",
                    sInfoThousands: ".",
                    sLengthMenu: "Mostrar _MENU_ registros por pagina",
                    sLoadingRecords: "Carregando...",
                    sProcessing: "Processando...",
                    sZeroRecords: "Nenhum registro encontrado",
                    sSearch: "Pesquisar",
                    oPaginate: {
                        sNext: "Proximo",
                        sPrevious: "Anterior",
                        sFirst: "Primeiro",
                        sLast: "Ultimo",
                    },
                    oAria: {
                        sSortAscending: ": Ordenar colunas de forma ascendente",
                        sSortDescending: ": Ordenar colunas de forma descendente",
                    },
                },
                lengthMenu: [
                    [5, 10, 25, 50],
                    [5, 10, 25, 50],
                ],
                pageLength: 5,
            });

            $("#TableManutencao3 tbody").on("click", "tr", function () {
                if ($(this).hasClass("selected")) {
                    $(this).removeClass("selected");
                } else {
                    TableManutencao3.$("tr.selected").removeClass("selected");
                    $(this).addClass("selected");
                }
            });

            //$('#TableManutencao3 tbody tr td').filter(":contains('" + @Model.oProdutoClienteManutencao.IdCliente +"')")[0].parentElement.setAttribute('class', 'selected');
        });

        $(document).ready(function () {
            var TableManutencao5 = $("#TableManutencao5").DataTable({
                ordering: true,
                paging: true,
                autoWidth: true,
                searching: true,
                oLanguage: {
                    sEmptyTable: "Nenhum registro encontrado na tabela",
                    sInfo: "Mostrar _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrar 0 até 0 de 0 Registros",
                    sInfoFiltered: "(Filtrar de _MAX_ total registros)",
                    sInfoPostFix: "",
                    sInfoThousands: ".",
                    sLengthMenu: "Mostrar _MENU_ registros por pagina",
                    sLoadingRecords: "Carregando...",
                    sProcessing: "Processando...",
                    sZeroRecords: "Nenhum registro encontrado",
                    sSearch: "Pesquisar",
                    oPaginate: {
                        sNext: "Proximo",
                        sPrevious: "Anterior",
                        sFirst: "Primeiro",
                        sLast: "Ultimo",
                    },
                    oAria: {
                        sSortAscending: ": Ordenar colunas de forma ascendente",
                        sSortDescending: ": Ordenar colunas de forma descendente",
                    },
                },
                lengthMenu: [
                    [5, 10, 25, 50],
                    [5, 10, 25, 50],
                ],
                pageLength: 5,
            });

            $("#TableManutencao5 tbody").on("click", "tr", function () {
                if ($(this).hasClass("selected")) {
                    $(this).removeClass("selected");
                } else {
                    TableManutencao5.$("tr.selected").removeClass("selected");
                    $(this).addClass("selected");
                }
            });

            //$('#TableManutencao3 tbody tr td').filter(":contains('" + @Model.oProdutoClienteManutencao.IdCliente +"')")[0].parentElement.setAttribute('class', 'selected');
        });

        $(document).ready(function () {
            var TableManutencao4 = $("#TableManutencao4").DataTable({
                ordering: true,
                paging: true,
                autoWidth: true,
                searching: true,
                oLanguage: {
                    sEmptyTable: "Nenhum registro encontrado na tabela",
                    sInfo: "Mostrar _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrar 0 até 0 de 0 Registros",
                    sInfoFiltered: "(Filtrar de _MAX_ total registros)",
                    sInfoPostFix: "",
                    sInfoThousands: ".",
                    sLengthMenu: "Mostrar _MENU_ registros por pagina",
                    sLoadingRecords: "Carregando...",
                    sProcessing: "Processando...",
                    sZeroRecords: "Nenhum registro encontrado",
                    sSearch: "Pesquisar",
                    oPaginate: {
                        sNext: "Proximo",
                        sPrevious: "Anterior",
                        sFirst: "Primeiro",
                        sLast: "Ultimo",
                    },
                    oAria: {
                        sSortAscending: ": Ordenar colunas de forma ascendente",
                        sSortDescending: ": Ordenar colunas de forma descendente",
                    },
                },
                lengthMenu: [
                    [5, 10, 25, 50],
                    [5, 10, 25, 50],
                ],
                pageLength: 5,
            });

            $("#TableManutencao4 tbody").on("click", "tr", function () {
                if ($(this).hasClass("selected")) {
                    $(this).removeClass("selected");
                } else {
                    TableManutencao4.$("tr.selected").removeClass("selected");
                    $(this).addClass("selected");
                }
            });

            //$('#TableManutencao4 tbody tr td').filter(":contains('" + @Model.oProdutoClienteManutencao.IdProduto +"')")[0].parentElement.setAttribute('class', 'selected');
        });

        function passIdCliente(idCliente) {
            document.getElementById("idCliente").value = idCliente;
        }

        function passIdProduto(idProduto) {
            document.getElementById("idProduto").value = idProduto;
        }

        function passIdServico(idServico) {
            document.getElementById("idServico").value = idServico;
        }
    </script>
}
