@model IEnumerable<HardWareTech.DATA.Models.VwProdutoClienteManutencao>

@{
    ViewData["Title"] = "Kanban de Manutenções";
}

<h1 class="text-center display-4">Kanban de Manutenções</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <div>
        <a class="btn btn-primary" role="button" asp-controller="Manutencoes" asp-action="Create"><i class="fa fa-plus-circle"></i> Nova Manutenção</a>
    </div>
@*    <div>
        <a class="btn btn-danger" role="button" asp-controller="Cliente" asp-action="ClientesReport" target="_blank">
            <i class="fa-solid fa-file-pdf"></i> PDF Manutenção
        </a>
    </div>*@
</div>
<br />

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert" style="text-align: center;">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
} @if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="board">
    <div class="lanes">
        <div class="swim-lane" id="todo-lane">
            <h3 class="heading">Pendente</h3>
            @foreach (var item in Model.Where(x => x.Feito == false))
            {
                var styleStatus = "rounded text-black bg-white"; if (DateTime.Now.Date > item.DataFinalizacao) { styleStatus = "rounded text-white bg-danger"; }
                else if
            (DateTime.Now.Date.Equals(item.DataFinalizacao)) { styleStatus = "bg-warning"; }

                <p class="task @styleStatus " draggable="true" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">
                    @item.NomeManutencao - <br /> @item.NomeCliente - @item.DataFinalizacao.ToString("dd/MM/yyyy")
                </p>

            }
        </div>

        @*<div class="swim-lane">
            <h3 class="heading">Realizando</h3>
            @foreach (var item in Model.Where(x => x.Feito == false))
            {
                var styleStatus = "rounded text-white bg-success"; if (DateTime.Now.Date > item.DataFinalizacao) { styleStatus = "rounded text-white bg-danger"; }
                else if
            (DateTime.Now.Date.Equals(item.DataFinalizacao)) { styleStatus = "bg-warning"; }

                <p class="task @styleStatus" draggable="true">@item.NomeCliente - @item.NomeProduto - @item.DataFinalizacao</p>
            }
        </div>*@

        @*<div class="swim-lane">
            <h3 class="heading">Impedimento</h3>
            @foreach (var item in Model.Where(x => x.Feito == false))
            {
                var styleStatus = "rounded text-white bg-success"; if (DateTime.Now.Date > item.DataFinalizacao) { styleStatus = "rounded text-white bg-danger"; }
                else if
            (DateTime.Now.Date.Equals(item.DataFinalizacao)) { styleStatus = "bg-warning"; }

                <p class="task @styleStatus" draggable="true">@item.NomeProduto - @item.NomeCliente</p>
            }
        </div>*@

        @{
            var currentMonth = DateTime.Now.Month;
            var currentYear = DateTime.Now.Year;
        }

        <div class="swim-lane">
            <h3 class="heading">Feito</h3>
            @foreach (var item in Model.Where(x => x.Feito == true && x.DataFinalizacao.Year == currentYear && x.DataFinalizacao.Month == currentMonth))
            {
                var styleStatus = "rounded text-white bg-success";@* if (DateTime.Now.Date > item.DataFinalizacao & item.Feito != true) { styleStatus = "rounded text-white bg-danger"; }
                else if
            (DateTime.Now.Date.Equals(item.DataFinalizacao) & (item.Feito != true)) { styleStatus = "bg-warning"; }*@
                <p class="task @styleStatus" draggable="true" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">
                    @item.NomeManutencao <br /> @item.NomeCliente - @item.DataFinalizacao.ToString("dd/MM/yyyy")
                </p>
            }
        </div>
    </div>
</div>

@*<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                @{
                    var styleStatus = "rounded text-white bg-success"; if (DateTime.Now.Date > item.DataFinalizacao) { styleStatus = "rounded text-white bg-danger"; }
                    else if (DateTime.Now.Date.Equals(item.DataFinalizacao))
                    {
                        styleStatus =
                "bg-warning";
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td class="@styleStatus">
                    @Html.DisplayFor(modelItem => item.DataFinalizacao)
                </td>
                <td>
                    <div class="form-check">
                        @Html.CheckBoxFor(modelItem => item.Feito, new { @class = "form-check-input" })
                        <label class="form-check-label" for="@Html.IdFor(modelItem => item.Feito)">Feito</label>
                    </div>
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                        <i class="fa fa-trash"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" aria-labelledby="DeleteModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModal">Excluir Manutenção</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente excluir a manutenção @item.IdProduto ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>*@